/** General Layout **/
html,
body {
  margin: 0;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rooms {
  height: 50%;
  width: 80%;
  background-color: chocolate;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.room{
  width: 31%;
  height: 46%;
  background-color: lightgreen;
  border-style: solid;
  border-color: green;
  border-width: 2px;
  flex-shrink: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%
}

.scenes {
  height: 50%;
  width: 80%;
  background-color: seagreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.scene{
  width: 95%;
  height: 25%;
  background-color: lightblue;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  flex-shrink: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%
}


.statistics{
  width: 100%;
  height: 20%;
  background-color: pink;
}

.newDevice{
  width: 100%;
  height: 20%;
  background-color: lightpink;
}

.newRoom {
  width: 100%;
  height: 20%;
  background-color: plum;
}

.newScene{
  width: 100%;
  height: 20%;
  background-color: lightcoral;
}

.logout{
  width: 100%;
  height: 20%;
  background-color: coral;
}

/** Modals for datainput **/
.blur {
  z-index: -20;
  display: none;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}