/** General Layout **/
html,
body {
  margin: 0;
  height: 100%;
  /** Get a font for every System **/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.disabled {
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/** Rooms **/

.rooms {
  height: 65%;
  width: 80%;
  background-color: chocolate;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.room {
  min-width: 300px;
  width: 31%;
  height: 46%;
  background-color: lightgreen;
  border-style: solid;
  border-color: green;
  border-width: 2px;
  flex-shrink: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: auto;
}

.roomTitle {
  text-align: center;
  margin-top: 3%;
  width: 100%;
  height: 15%;
}
/**
.deleteRoom {
  float: right;
  position: relative;
  top: 0;
  right: 0;
}
**/
.lamp {
  width: 33%;
  height: 33%;
  background-color: antiquewhite;
  text-align: center;
}

.lampTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  word-break: break-all;
  padding-left: 2%;
  padding-right: 2%;
}

.shutter {
  width: 33%;
  height: 33%;
  background-color: antiquewhite;
  text-align: center;
}

.shutterTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  word-break: break-all;
  padding-left: 2%;
  padding-right: 2%;
}

.shutterInput {
  width: 35%;
}

.radiator {
  width: 33%;
  height: 33%;
  background-color: antiquewhite;
  text-align: center;
}

.radiatorTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  word-break: break-all;
  padding-left: 2%;
  padding-right: 2%;
}

.radiatorInput {
  width: 35%;
}

/** Scenes **/

.scenes {
  height: 35%;
  width: 80%;
  background-color: seagreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.scene {
  width: 95%;
  height: 25%;
  background-color: lightblue;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  flex-shrink: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
}

.sceneStartBtn {
  height: 100%;
  width: 15%;
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sceneTitle {
  margin: 0;
  margin-top: 2%;
  word-break: break-all;
}

.sceneTime {
  margin: 0;
  margin-bottom: 2%;
  width: 75%;
  word-break: break-all;
}

@media screen and (min-width: 1350px) {
  .sceneTime {
    margin-top: 2%;
    margin-left: 4%;
  }
  .sceneTitle {
    margin-left: 4%;
  }
}

/** Sidebar stuff **/

.sidebar {
  height: 100%;
  width: 20%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
}
.simulatorData {
  width: 100%;
  height: 12%;
  background-color: #ff83f9;
}

.settings {
  width: 100%;
  height: 20%;
  background-color: pink;
}

.newDevice {
  width: 100%;
  height: 20%;
  background-color: lightpink;
}

.newRoom {
  width: 100%;
  height: 20%;
  background-color: plum;
  text-align: center;
}

.newScene {
  width: 100%;
  height: 20%;
  background-color: lightcoral;
}

.logout {
  width: 100%;
  height: 8%;
  background-color: coral;
}

.icon {
  width: 25%;
  float: left;
}

.sidebartext {
  color: white;
  text-align: center;
}

/** Modals for datainput **/

.modal {
  width: 75%;
  height: 85%;
  top: 7.5%;
  left: 12.5%;
  position: absolute;
  background-color: lightblue;
  display: none;
}

.closeX {
  cursor: pointer;
  margin-right: 2%;
  margin-top: 2%;
  position: absolute;
  top: 0;
  right: 0;
}

.modalHeading {
  text-align: center;
}

.formElement {
  margin-left: 5%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table {
  width: 42%;
}

.actionTable {
  width: 90%;
}

.tableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.deviceTable {
  /** TODO make tr same size in every table **/
}

@media screen and (max-width: 800px) {
  .tableContainer {
    flex-direction: column;
  }
  .deviceTable {
    margin-top: 2%;
    width: 90%;
  }
}
/** Toggle switch from https://www.w3schools.com/howto/howto_css_switch.asp **/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
